* {
  margin: 0;
  padding: 10px;
}
body {
  background-color: rgb(5, 5, 5);
}
.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  height: 100%;
  width: 300px;
  background-color: rgb(61, 110, 157);
  border-radius: 20px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: rgb(79, 146, 205);
}
h1 {
  color: aliceblue;
}
h4 {
  font-size: 30px;
}
p {
  color: aliceblue;
  font-size: 20px;
}
.lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  border-radius: 20px;
  border: none;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBtn {
  width: 80px;
  border-radius: 20px;
  border: none;
}

.deleteBtn {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(29, 60, 111, 0.876);
  color: rgb(6, 6, 6);
}
